*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-color:linen;
    background-position: center;
    background-size: cover;
    height: 98vh;
}

.navbar{
    width: 1200px;
    height: 100px;
    float: left;
}

.menu{
    width: 1000px;
    float: right;
    height: 80px;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

 ul li{
    list-style: none;
    margin-top: 30px;
    margin-left: 60px;
    font-size: medium;
}

 ul li a{
    text-decoration: none;
    color: black;
    font-family:'Times New Roman';
    font-weight: 300;
    transition: 0.4s ease-in-out;
 }

 ul li a:hover{
    color: rgb(210, 108, 36);
 }

 .content{
    width: 1000px;
    height: auto;
    margin: auto;
    color: black;
    position: absolute;
 }

 .content h1{
    font-family:'sans-serif';
    font-size: 50px ;
    margin-top: 10%;
    padding-left: 1in;
 }

.content p{
    font-family: 'arial';
    font-size: 30px;
    padding-left: 1in;
    letter-spacing: 2px;
    line-height: 40px;
}

.content p1{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
}

.content .cn{
    width: 3.5cm;
    height: 1cm;
    background-color:rgb(231, 182, 117);
    border: none;
    font-family: Arial;
    font-size: 15px ;
    border-radius: 20px 60px;
}

.content .cn a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.cn:hover{
    background-color: rgb(236, 156, 113);
}

.context h2{
    font-family: 'times new roman';
    font-size: 30px ;
    padding-top: 8%;
    margin-left: 68%; 
}

.counter{
    font-size: 100px;
    margin-left: 69%;
    padding-top: 0.01%;
}

.img{
    margin-left: 70%;
    margin-top: 3%;
    border-radius: 50%;
}

.context1{
    background-color: rgb(231, 182, 117);
    font-family: 'arial';
    font-size: 18px ;
    text-align: center;
    height: auto;
}

table th{
    font-size: 25px;
    width: 500px;
    color: black;
    margin-top: 5%;
    border:2px solid;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
}

table td{
    font-size: 20px;
    width: 500px;
    color: black;
    margin-top: 5%;
    border:2px solid;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
}

.table{
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.getstarted{
    padding-top: 5%;
    text-align: center;
}
